<section class="w-[75%] mx-auto mt-30 p-5 bg-[#ece2d0] rounded-2xl shadow-lg">
  <h1 class="text-center text-[#6d2e46] font-bold text-4xl">Your WishList</h1>
  @if(wishListDetails.length > 0) { @for (prod of wishListDetails; track
  prod._id) {
  <div
    class="grid md:grid-cols-[10%_minmax(0,1fr)] gab-4 border-b border-gray-300 py-6"
  >
    <!-- img -->

    <div>
      <img
        [src]="prod.imageCover"
        alt=""
        class="w-full h-[100px] object-contain"
      />
    </div>

    <!-- info -->

    <div class="flex justify-between items-center">
      <div class="ms-4">
        <h3>{{ prod.title }}</h3>
        <h4 class="text-[#a26769] font-bold">Price : {{ prod.price }}</h4>
        <button
          class="cursor-pointer font-bold"
          (click)="removeSpecificWishListItem(prod._id)"
        >
          <i class="fas fa-trash-can text-[#ff0000]"></i> Remove
        </button>
      </div>

      <div>
        <button
          (click)="addProductToCart(prod._id)"
          class="py-2 px-4 my-3 text-white rounded-lg bg-[#6d2e46] cursor-pointer hover:bg-[#a26769] transtion duration-700"
        >
          Add To Cart
          <i class="fas fa-cart-plus"></i>
        </button>
      </div>
    </div>
  </div>
  } } @else {
  <h1 class="text-red-700 font-bold shadow-lg mt-4 p-3">
    Your WishList is Empty......
  </h1>
  }
</section>
